

#table tr td {
	border: 1px solid black;
}

.foto {
	width: 100%;
	height: 100%;

}

body {
  	
}

.conteudo {
	justify-content: center;
}

.container1 {
  margin: 0 auto;
  margin-top: 0px;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 40%;
  background: #4c4c4c;
  border: solid 3px #2c2c2c;
}

.foto:nth-child(1) {
  anima
}
.foto:nth-child(2) {
  animation-delay: 5s;
}
.foto:nth-child(3) {
  animation-delay: 10s;
}

.container1 {
  opacity: .8;
  animation-name: animacao;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}


.slideimg {
  position: absolute;
  width: 100%;
  height: 100%;
}

/*@keyframes animacao {
  25% {
    opacity: .7;
    transform:scale(1.1,1.1);
  }
  50% {
    opacity: 1;
  }
*/

}

.slideimg img {
  width: 100%;
  height: 100%;  
}

#i1, #i2, #i3 {
  display: none;
  
}

.pre, .next {
  width: 12%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(88,88,88,.0);
  z-index: 99;
  cursor: pointer;
}

.pre {
  left: 0;
}
.next {
  right: 0;
}
.nav1 {
  width: 100%;
  height: 11px;
  bottom: 12%;
  position: absolute;
  text-align: center;
  z-index: 99;
}

.dots {
  top: -5px;
  width: 18px;
  height: 18px;
  margin: 0 4px;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  background: rgba(0,0,0,.5);
}

.slideimg {
  z-index: -1;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three {
  z-index: 9;
}

#i1:checked ~ .nav1 #dot1,
#i2:checked ~ .nav1 #dot2,
#i3:checked ~ .nav1 #dot3 {
  background: #fff;
}

.arrowL {
  margin-top: 140%;
}
.arrowR {
  margin-top: 140%;
  padding-left: 0%;
}

div .arrowL {
  width: 50%;
  height: 50%;
}
div .arrowR {
  width: 50%;
  height: 50%;
}

/*#login {
  left: 500px;
  
}

#barra {
  left: 590px;
}

#register {
  left: 700px;
}*/

#ce {
  padding-left: 0px;
}


.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: white;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 150px;
  font-size: 15px;
}

#modalL, #modalR, #modalP {
background:rgba(0,0,0, 0.6);
width:100%; 
height:100%; 
position:fixed; 
left:0; 
top:0; 
z-index:100; 
display: none;
}

.modal-box {
background:#FFF; 
max-width: 450px; 
min-width: 260px; 
max-height: auto; 
position: relative; 
margin: 35px auto;
border: 2px solid black;
}

.box-conteudo {
  margin: 0% 20% 5% 20%;
}

.fechar {
  padding:2px 3px; 
  border:5px; solid:#CCC; 
  position:absolute; 
  right:1%; top:1%; 
  border-radius: 4px; 
  color:black; 
  cursor:pointer; 
  background-color:white;
}

.fechar:hover {color:red; border-color:#666;}

.infomain {
  border-color: red;
  width: 100%;
  height: 200px;
}

.info1 {
  border-color: red;
  width: 296px;
  height: 200px;
}
.info2 {
  width: 296px;
  height: 200px;
}
.info3 {
  width: 296px;
  height: 200px;
}

#divmain {
      text-align: center;
}



    #divmainslider {
      padding: 0px;
      padding-bottom: 50px;
      width: 100%; 
}
    div.item.active img {
      height: 300px;
      border: black;
    }

    div.item img {
      height: 300px;
    }


.dropbtn {
    background-color: #007bff;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: white
}

.dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
}

.dropdown:hover .dropbtn {
    background-color: #007bff;
}