html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.container {
  margin: 0 auto;
  margin-top: 0px;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 40%;
  background: #4c4c4c;
  border: solid 3px #2c2c2c;
}

.slideimg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slideimg img {
  width: 100%;
  height: 100%;  
}

#i1, #i2, #i3 {
  display: none;
  
}

.pre, .next {
  width: 12%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(88,88,88,.0);
  z-index: 99;
  cursor: pointer;
}

.pre {
  left: 0;
}
.next {
  right: 0;
}
.nav {
  width: 100%;
  height: 11px;
  bottom: 12%;
  position: absolute;
  text-align: center;
  z-index: 99;
}

.dots {
  top: -5px;
  width: 18px;
  height: 18px;
  margin: 0 4px;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  background: rgba(0,0,0,.5);
}

.slideimg {
  z-index: -1;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three {
  z-index: 9;
}

#i1:checked ~ .nav #dot1,
#i2:checked ~ .nav #dot2,
#i3:checked ~ .nav #dot3 {
  background: #fff;
}

.arrowL {
  margin-top: 140%;
}
.arrowR {
  margin-top: 140%;
  padding-left: 50%;
}

div .arrowL {
  width: 50%;
  height: 50%;
}
div .arrowR {
  width: 50%;
  height: 50%;
}